body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  padding: 2rem;
}

.App {
  font-family: sans-serif;
  margin: 2rem;
}

h1 {
  color: #2b2b2b;
}
ul {
  list-style-type: disc;
  padding-left: 2rem;
}

li {
  margin-bottom: 0.5rem;
}
